# Copyright (c) Meta Platforms, Inc. and affiliates.
# All rights reserved.
#
# This source code is licensed under the license found in the
# LICENSE file in the root directory of this source tree.

# Config for the experiments with directionally dependent acoustic paramteres for MRAS
# NOTE: spatial params might not be computed yet for MRAS
# the precomputed directions are:
# 0.0, 72.0, 144.0, 216.0, 288.0, 360.0 

#----------------------------------------------------------------------------------------------------------------
# Experiment metadata
exp_name: debug
exp_group: debug
seed_mode: balanced     # ['balanced', 'random']
seed: 1111
job_id: 0
task_id: ''
use_dgx: False
use_triton: False
use_vrgpu: False
num_workers: 8
wandb: False
comment: ''

# Model
dan_disc_activation: prelu  # relu, lrelu, prelu, gelu, elu
dan_use_multi_disc: False
dan_conditional_disc: False
net_use_threshold: False
net_stft_encoder_concat: False
net_use_dropout: True
net_use_stft_input: True
net_remove_src_rec: False
net_use_pos_enc: False
net_use_film: False
net_use_multiple_rirs: False
net_block: 'resnet'  # resnet, dense
net_unet_model: 'basic'  # basic, bottleneck

#----------------------------------------------------------------------------------------------------------------
# Dataset
dataset: 'mras'  # ['replica', 'mp3d', 'mras']
fold: '0'  # depends on datasets, but e.g. ['all', '00', '0', '1', '2', '3', '4', 'balanced_X'] , these are strings
n_files_per_scene: 10
read_lmdb: False
fname_lmdb: 'rirs_2ndorder_mras_all.lmdb'  # The code actually looks for both lines and grids
read_lmdb_maps: False
fname_lmdb_maps: 'mras_relfloor_10x10_spatial.lmdb'  
rir_output_channels: [0,1,2,3,4,5,6,7,8]  # List[int]
validation_random_sample: False

# Augmentation
use_augmentation_getitem: False
use_floormap_augmentation: False
aug_kernel_size: [5,5]
aug_kernel_num: 10

#----------------------------------------------------------------------------------------------------------------
# Operating mode
do_baseline: False
baseline_method: 'average_rir_all'  # baseline_methods = ['average_rir_all', 'average_rir_same_scene', 'average_acumap_scene', 'same_rir_NN',  'average_rir_same_scene_and_source', 'sample_acumaps_scene']
do_baseline_spatial: False
do_baseline_spatial_force_omni: False
do_baseline_multislope: False
do_validation: False
validation_checkpoint: '73327_exp05_dropout_rot_tran_maskrecs'
do_create_map_animation: False
do_animation_channel: 4
do_precompute_rirs_lmdb: False
do_precompute_maps_lmdb: False
use_within_room_generalization_method: 'none'
use_within_room_generalization_threshold: 0.9

# Loss
loss_function: 'l1' # 'sloped_l1', 'l2' 'filterbank2d', 'wavelet'

#----------------------------------------------------------------------------------------------------------------
# Floormaps
fmap_resolution: 128
fmap_height_selection: 'relative_floor'
fmap_slice_coord: 0.5
fmap_use_slices_variance: False
fmap_bbox_channel: 1
fmap_pos_enc_d: 64
fmap_xlim: [-10, 10]
fmap_use_soft_sources: False
fmap_add_pose: False

# Acumaps
acumap_resolution: 128
acumap_k: 5
acumap_s: 1
acumap_p: 2
acumap_std: 1
acumap_parameters: ['0.0/c50', '72.0/c50', '144.0/c50', '216.0/c50', '288.0/c50']  # List[str]   # 0.0, 72.0, 144.0, 216.0, 288.0, 360.0  # then parameter
acumap_frequency_bands: [250, 1000, 4000]  # List[int]  [250, 1000, 4000]
acumap_distances: ['l1','l1','l1','l1','l1']  # List[str], per parameter

# Normalization
need to set this
normalizer_vmins: [-20,-20,-20, -20,-20,-20, -20,-20,-20, -20,-20,-20, -20,-20,-20]  # [-20, -20, -20, 0.125, 0.125, 0.125, -10, -10, -10, 0.125, 0.125, 0.125]
normalizer_vmaxs: [20,20,20, 20,20,20, 20,20,20, 20,20,20, 20,20,20]
normalizer_logchannels: []  # [3,4,5, 9,10,11]
#normalizer_vmins: [-10,-10,-10, 0.125,0.125,0.125, -15,-15,-15]  # [-20, -20, -20, 0.125, 0.125, 0.125, -10, -10, -10, 0.125, 0.125, 0.125]
#normalizer_vmaxs: [30,30,30, 3.0,3.0,3.0, 10,10,10]
#normalizer_logchannels: []  # [3,4,5, 9,10,11]
